<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>You have been choose as the tasks selector!</title>
	</head>
	<body>
	
	<%#= URI.join( root_url, workers_match_path( @match ) ) %>
	<%=  'http://192.168.1.68:3000/' + workers_match_path( @match ) %>
	
	</body>
</html>
